<mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="productos">
      <mat-option >None</mat-option>
      <mat-option value="1">Option 1</mat-option>
    </mat-select>
  </mat-form-field>
  
  
    <div class="columna" *ngFor="let prod of productos">
        <img src="{{prod.img}}">
        <p>{{prod.producto}}</p>
        <p>{{prod.contador}}</p>
    </div>

   <button type="button" (click)="almacenar()" >nuevo inventario</button>
   
   <div class="columna" *ngFor="let prod of productos">
   <h1>{{prod.producto}}</h1>
   <button (click)="acumular(base)">{{base}}</button>
   <span>{{prod.contador}}</span>
   <button (click)="acumular(-base)"> -{{base}}</button>
</div>
