<hr>
<ul>
    <div class="container">
    <div class="card" style="width: 18rem;" *ngFor="let personaje of superheroe">
        <img src="{{personaje.img}}" class="card-img-top" >
        <div class="card-body">

            <h3 class="card-title">{{personaje.nombre}}</h3><br>

            <p class>Biografia:{{personaje.bio}}</p><br>

            <p class>Aparicion: {{personaje.aparicion}}</p><br>

            <p class>Casa: {{personaje.casa}}</p>
            </div>
            </div>
        </div><br>
           
</ul> 
