<hr>
<ul>
    <!--<h2>Lista de Superheroes</h2>
    <li *ngFor="let personaje of superheroe">{{personaje.nombre}} <button (click)="ver()">Ver detalles</button></li>-->
    
    <div class="container" id="info">
    <div class="card" style="width: 18rem;" *ngFor="let personaje of superheroe">
        <img src="{{personaje.img}}" class="card-img-top" >
        <div class="card-body">

            <h5 class="card-title" >{{personaje.nombre}}</h5><br>
             <button type="button" style="margin: 15px;" (click)="ver(personaje)"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ver Detalles
              </button>
</div>
</div>
</div><br>

</ul> 
<app-modal></app-modal>
<app-casas></app-casas>
  