<select class="form-select">
        <option selected>Seleccione inventario</option>
        <option id="hi" *ngFor="let inventario of inventarios" (click)="listar(inventario.id)">
                <p>Inventario {{ inventario.id }}</p>
                
        </option>
</select>
<div *ngFor="let inv of nuevo1">
<section class="sec" *ngIf="inv.id>=1">
        <div class="sec_padre" >
          <div class="sec_hijo"  >
            
            <h2>{{ inv.producto.nombre }}</h2>
        </div>
        </div>
</section>
</div>

<!--<app-productos [inventarios]="inventarios"></app-productos>-->

<button (click)="Agregrani()">Nuevo Inventario</button>