<h2>Seccion De Casas</h2>
<hr/>
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" 
    role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Tipo de Casa del Heroe</a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" (click)="listar('DC')">DC</a></li>
      <li><a class="dropdown-item" (click)="listar('Marvel')">Marvel</a></li>
    </ul>
</div>
<table class="table container">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Aparición</th>
            <th scope="col">Casa</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let heroe of heroesBuscados;">
            <ng-template #color>
                <td style="background-color: green;">{{heroe.nombre}}</td>
                <td style="background-color: green;">{{heroe.aparicion}}</td>
                <td style="background-color: green;">{{heroe.casa}}</td>
            </ng-template>

            <div *ngIf="heroe.casa == 'DC' else color">
                <td style="background-color: rgb(102, 204, 204);">{{heroe.nombre}}</td>
                <td style="background-color: rgb(102, 204, 204);">{{heroe.aparicion}}</td>
                <td style="background-color: rgb(102, 204, 204);">{{heroe.casa}}</td>
            </div>

                
            

        </tr>
    </tbody>
</table>







